.header-bg-container {
  display: flex;
  padding: 8px 20px 5px 20px;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 60px;
  height: 60px;
  margin: 0px;
}
.header-menu-md-section {
  width: 35%;
  list-style-type: none;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}
.header-menu-sm-section {
  width: 70%;
  list-style-type: none;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}
.header-menu-items{
  margin: 0px;
  color: green;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}
.activeHeader{
  font-weight: bold;

}
.open{
  display: flex;
}
.hide{
  display: none;
}
.link {
  text-decoration: none;
  align-self: center;
}

.header-button {
  padding: 10px;
  background-color: cornflowerblue;
  align-self: center;
  color: #ffffff;
  border-width: 0px;
  border-radius: 8px;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: black;
}
.hamburger:hover{
  transform: scale(1.06);
  background-color: transparent;
}
@media (max-width: 1024px){
    .header-menu-md-section{
        display:none;
    }
    .hamburger{
      display: block;
    }
}
@media (min-width: 1025px){
  .header-menu-sm-section{
    display: none;
  }
}
